@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    padding: 0;
    margin: 0;
}

header{
    background-color:#90BABD;
    padding: 40px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    word-spacing: 50px;
    font-weight: bolder;
}


ul{
    list-style-type: none;
}
li{
    list-style-type: none;
    display: inline;
}
a{
    color:whitesmoke;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color:#FCF0E3;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.tituloMedio{
    font-family:'Poppins', sans-serif;
    font-weight:bold;
    font-size: xx-large;
    color: #90BABD;
    margin-top: 10px;
}

.textoInformativo{
    font-size:larger ;
}

.imagenes { 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 10px;
    align-items:center;
    margin-bottom: 20px;
    }

.imagenes img {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    max-width: 100%;
}

.footer{
    background-color:#90BABD;
    padding: 20px;
    margin-top: 10;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
}

.footer img {
    width: 2%;
}